<nav class="bg-light border-end" style="width: 240px; min-height: 100vh;">
  <div class="p-3 border-bottom">
    <h5 class="mb-0">メニュー</h5>
  </div>

  <div class="list-group list-group-flush">

    <a href="{% url 'dashboard:user_list' %}" class="list-group-item list-group-item-action">
      利用者一覧
    </a>

    <a href="{% url 'dashboard:caremana_list' %}" class="list-group-item list-group-item-action">
      ケアマネジャー一覧
    </a>

    <a href="{% url 'employees:employee_list' %}" class="list-group-item list-group-item-action">
      スタッフ一覧
    </a>

    <a href="{% url 'employees:calendar' %}" class="list-group-item list-group-item-action">
      スケジュールカレンダー
    </a>

    <a href="{% url 'employees:unsubmitted_reports' %}" class="list-group-item list-group-item-action">
      日報未提出一覧
    </a>

    <a href="{% url 'employees:attendance_list' %}" class="list-group-item list-group-item-action">
      出退勤記録
    </a>

    <a href="" class="list-group-item list-group-item-action">
      今月のサービス提供票
    </a>

    <a href="{% url 'diary:list' %}" class="list-group-item list-group-item-action">
      日報一覧
    </a>

    <a href="" class="list-group-item list-group-item-action">
      帳票出力（Excel）
    </a>

    <a href="" class="list-group-item list-group-item-action">
      事務所設定
    </a>

    <a href="" class="list-group-item list-group-item-action text-danger mt-3">
      ログアウト
    </a>

  </div>
</nav>
