{% extends "dashboard/base/base.html" %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'temp.css' %}">
{% endblock %}
{% block body %}
<h2>{{ title }}</h2>
<div class="detail-card">
  <form method="post" novalidate>
    {% csrf_token %}
    {% include "dashboard/components/messages.html" %}
    <div class="as_p">
      {{ form.as_p }}
    </div>
    <button class="btn btn-primary" type="submit">保存</button>
    <a href="{% url 'employees:pattern_list' %}" class="btn btn-secondary">戻る</a>
  </form>
</div>
{% endblock %}
